<html>
<head>
<title>C_web_power</title>
<LINK REL="stylesheet" TYPE="text/css" HREF="style2.css">

</head>
<meta charset="utf-8"/>
<body marginheight=0 marginwidth=0 leftmargin=0 topmargin=0 text="white">
<table border=0 cellpadding=0 cellspacing=0 width="100%" height="100%">
<tr><td colspan=3 height=75 width=1000 bgcolor=#111111><font color=green size=+3>Welcome here.</font></td></tr>
<tr><td width=85 valign=top bgcolor=#111111><table border=0
       cellpadding=0 cellspacing=10>
<tr><td width="100" height="30">&nbsp;
<tr><td width="80" height="40" align=middle>
	<a href="/"><font color=green>Home</font></a>
<tr><td width="100" height="40" align=middle>
	<a href="/listincategory?category=Security"><font color=green>Security</font></a>
<tr><td width="100" height="40" align=middle>
		<a href="/listincategory?category=CTF"><font color=green>CTF</font></a>
<tr><td width="100" height="40" align=middle>
  <a href="/listincategory?category=All_IT"><font color=green>All IT</font></a>
<tr><td width="100" height="40" align=middle>
  <a href="/listincategory?category=Linux"><font color=green>LINUX</font></a>
  <tr><td width="100" height="40" align=middle>
	<a href="https://github.com/tihamerasd/cwebdemo"><font color=green>Based on</font></a>
</table>
<td width=10>&nbsp;
<td valign=top>
<center>

<div style="overflow:scroll; height:600px">
<!-- #BEGINZONE contentzone -->
<h3>Title: ##title##</h3>
<h5>Category: ##category##</h5>
##content##
<!-- #ENDZONE contentzone -->
</div>
</body>
</html>

</blockquote>
<tr>
<td width=80 height=10 bgcolor="#111111">
<td width=10 bgcolor="#111111">
<td align="center" bgcolor="#111111" width=100% colspan=3 height 10%>
<center>
<hr width=50%>
<font size=-1>
	<p style="color: green;">
	The site is directly ugly, I will never write frontend.
	Once later, the only option is webassembly for a reasonable view.

<font face="Verdana,Arial,Helvetica" size="2" color="green"><br>Author: Tihamer Darai<br>
darai.tihamer@gmail.com<br>
<a href="https://www.facebook.com/darai.tihamer" style="color:aqua;"> Facebook</a> </font><br>
</font>
</tr>
</table>
</table>
<style>
body {
  background-color: #333333;
}
	</style>
</body>
</html>
