<html>
<!-- #BEGINZONE titlezone -->
<h1>
  ##title##
  <h5>is a rendered value from c</h5>
</h1>
<!-- #ENDZONE titlezone -->
<body>

<h3>This is my if:</h3>
<!-- #BEGINZONE steampunk -->
  <img src="images/demo/backgrounds/01.png" style="max-width:300px;width:100%">
<!-- #ENDZONE steampunk -->
<!-- #BEGINZONE arch -->
  <img src="images/demo/backgrounds/05.png" style="max-width:300px;width:100%">
<!-- #ENDZONE arch -->

<!-- the following will display a table with 2 columns and will be fed by
     the CGI -->
<br>
<br>
<br>
<h3>This is my for loop:</h3>
<ul>
<!-- #BEGINTABLE ullist -->
  <li>
    <a href="##urlsource##">##listelem##</a>
  </li>
<!-- #ENDTABLE ullist -->
</ul>

<ul>
<!-- #BEGINTABLE parameters -->
  <li>
    <p>##key##: ##value##</p>
    <br>
  </li>
<!-- #ENDTABLE parameters -->
</ul>

</body>
</html>
